<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
<title>index</title>
<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"/>
<link rel="stylesheet" href="resources/css/style.css"/>
</h:head>
<body>
	<div class="container">
		<div class="logout">
			<h:form>
				<h:commandLink action="#{productManagedBean.logout()}"><i class="fas fa-sign-out-alt"></i></h:commandLink>
			</h:form>
		</div>
	
		<div id="row">
			<!-- List product -->
			<div id="list-product">
				<h:form>
					 <div class="table-wrapper">
						<div class="table-title">
							<div class="row">
								<div class="col-md-5">
									<h2>List Product</h2>
								</div>
								<div class="col-md-5">
									
								</div>
								<div class="icon-add col-md-2">
									<i class="fas fa-plus-circle btn-add"></i><span>Add New</span>
								</div>
							</div>
						</div>
						<table id="table" class="table table-striped table-hover">
						<thead>
							<tr>
								<td>ID</td>
								<td>Name</td>
								<td>Description</td>
								<td>Price</td>
								<td>Quantity</td>
								<td>Image</td>
								<td></td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<c:forEach items="#{productManagedBean.findAll()}" var="product">
								<tr>
									<td class="name" data-id="#{product.id}">#{product.id}</td>
									<td>#{product.name}</td>
									<td>#{product.description}</td>
									<td>#{product.price}</td>
									<td>#{product.quantity}</td>
									<td><img src="/jsf/faces/javax.faces.resource/#{product.image}?ln=images" width="50" height="50" /></td>
									<td><h:commandLink
											action="#{productManagedBean.update(product)}">
											<i class="fas fa-pen"></i>
										</h:commandLink></td>
									<td><h:commandLink
											action="#{productManagedBean.delete(product)}">
											<i class="fas fa-trash"></i>
										</h:commandLink></td>
								</tr>
							</c:forEach>
						</tbody>
					</table>
					</div>
				</h:form>
				<div class="paging">
					<h:form>
						<div class="command">
							<nav>
							<ul class="pagination">
							
							<c:forEach var="i" begin="1" end="#{productManagedBean.getPaging()}">
								<li class="page-item btn-page">
									<h:commandButton styleClass="page-link"
										action="#{productManagedBean.index()}" value="#{i}">
										<f:ajax execute="@form" render="row"></f:ajax>
										<f:setPropertyActionListener value="#{i}"
											target="#{productManagedBean.id}" />
									</h:commandButton>
								</li>
							</c:forEach>
							</ul>
							</nav>
							
						</div>
					</h:form>
				</div>
			</div>
			<!-- End list product -->
			
			<!-- Add product -->
			<div id="addproduct" class="addproduct">
				<div id="title-add">
					<h3>Add New Product</h3>
					<i class="far fa-times-circle btn-close"></i>
				</div>
				<h:form enctype="multipart/form-data">
					<div class="form-group">
						<h:inputText styleClass="form-control" a:placeholder="Name"
							required="required" value="#{productManagedBean.product.name}" />
					</div>
					<div class="form-group">
						<h:inputText styleClass="form-control" a:placeholder="Description"
							required="required"
							value="#{productManagedBean.product.description}" />
					</div>
					<div class="form-group">
						<h:inputText styleClass="form-control" a:placeholder="Price"
							required="required" value="#{productManagedBean.product.price}" />
					</div>
					<div class="form-group">
						<h:inputText styleClass="form-control" a:placeholder="Quantity"
							required="required"
							value="#{productManagedBean.product.quantity}" />
					</div>
					<div class="form-group">
						<h:inputFile value="#{productManagedBean.part}"></h:inputFile>
					</div>
					<div class="form-group">
						<h:commandButton styleClass="btn btn-primary"
							action="#{productManagedBean.create()}" value="Add" />
					</div>
				</h:form>
			</div>
			<!-- End add product -->
		</div>
	</div>				

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="resources/js/custom.js"></script>
	<script src="resources/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>