<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
<title>index</title>
<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"/>
<link rel="stylesheet" href="resources/css/style.css"/>
</h:head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div id="updateproduct">
			<div id="title-update">
				<h3>Update</h3>
			</div>
			<h:form enctype="multipart/form-data">
				<div class="form-group">
					<h:inputText styleClass="form-control" a:placeholder="Name"
						required="required" value="#{productManagedBean.product.name}" />
				</div>
				<div class="form-group">
					<h:inputText styleClass="form-control" a:placeholder="Description"
						required="required"
						value="#{productManagedBean.product.description}" />
				</div>
				<div class="form-group">
					<h:inputText styleClass="form-control" a:placeholder="Price"
						required="required" value="#{productManagedBean.product.price}" />
				</div>
				<div class="form-group">
					<h:inputText styleClass="form-control" a:placeholder="Quantity"
						required="required" value="#{productManagedBean.product.quantity}" />
				</div>
				<div class="form-group">
					<h:inputFile value="#{productManagedBean.part}"></h:inputFile>
				</div>
				<div class="form-group">
					<h:commandButton styleClass="btn btn-primary"
						action="#{productManagedBean.update()}" value="Add" />
				</div>
			</h:form>
		</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="resources/js/custom.js"></script>
	<script src="resources/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>