<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
<title>index</title>
<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"/>
<link rel="stylesheet" href="resources/css/style.css"/>
</h:head>
<body>
    <div class="container-fuild">
      <!-- Start title -->
      <div id="title">
        <i class="fab fa-facebook-f" data-toggle="tooltip"
          data-placement="bottom" title="Facebook"></i>
        <i class="fab fa-google" data-toggle="tooltip" data-placement="bottom"
          title="Google"></i>
        <i class="fab fa-twitter" data-toggle="tooltip" data-placement="bottom"
          title="Twitter"></i>
        <i class="fab fa-linkedin-in" data-toggle="tooltip"
          data-placement="bottom" title="Linkedin"></i>
        <div id="search">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search"
              placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
      <!-- End title -->
      <!-- Start menu -->
      <div id="menu">
        <nav id="background" class="navbar navbar-expand-lg">
          <a id="brand" class="navbar-brand" href="#">
            <i class="fa fa-home"></i>
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                  role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Danh mục
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <c:forEach var="category" items="#{indexManagedBean.findAll()}">
                	<a class="dropdown-item" href="#">#{category.name}</a>
                </c:forEach>
                 
                </div>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tin tức</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Giới thiệu</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                  role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Tài khoản
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Đăng nhập</a>
                  <a class="dropdown-item" href="#">Đăng kí</a>
                </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- End menu -->

        <!-- Start product hot -->
        <div id="producthot">
          <div class="container">
            <h2 class="text-center">Sản phẩm mới</h2>
            <div class="row">
            <c:forEach var="product" items="#{indexManagedBean.findAllLimit()}">
            	<div class="col-md-3">
                <div class="product">
                 
                  <h:commandLink outcome="detail.xhtml">
                  	<img src="resources#{product.image}" alt=""/>
                    <div class="overlay">
                      <h:commandLink action="detail.xhtml">
                      <i class="icon fa fa-search"></i>
                       <f:setPropertyActionListener value="#{product.id}" target="#{indexManagedBean.id}"/>
                      </h:commandLink>
                        
                    </div>
                    <div class="content">
                      <p>#{product.name}</p>
                      <p>#{product.price} VND</p>
                    </div>
                    <f:setPropertyActionListener value="#{product.id}" target="#{indexManagedBean.id}"></f:setPropertyActionListener>
                  </h:commandLink>
                    
                </div>
              </div>
            </c:forEach>
              
              
              
            </div>
          </div>
        </div>
        <!-- End product hot -->
      </div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="resources/js/custom.js"></script>
	<script src="resources/bootstrap/js/bootstrap.min.js"></script>
	<script>
        window.onscroll = function() {myFunction()};
        var header = document.getElementById("menu");
        var sticky = header.offsetTop;

        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
	</script>
</body>
</html>