* {
	margin: 0px;
	padding: 0px;
}

#full {
	width: 100%;
	height: auto;
}

#menu ul li{
	text-align: center;
	line-height: 80px;
	width: 73px;
	float: left;
	list-style-type: none;
}

#menu ul li a{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 10px;
}

#menu ul li:hover{
	background: #ff9600;
	color: #fff;
}

#menu ul li:hover a{
	text-decoration: none;
	color: #fff;
}

#header {
	height: 80px;
	background-color: #80b435;
}

#header img {
	margin-top: 10px;
	margin-left: 180px;
	margin-right: 180px; 
	width: 170px;
	height: 60px;
}

.email {
	background-color: darkorange;
    width: 30px;
    height: 30px;
    color: #ffffff; 
    border-radius: 30px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 90px;
}

.email p {
	margin-left: 8px;
}

#slide {
	height: 550px;
}

#sanpham {
	margin-top: 50px;
}

#sanpham img {
	width: 350px;
	height: 250px;
}

#icon i {
	color: #ffffff;
	margin-top: 35px;
}

#thucphammoi {
	height: 640px;
	margin-top: 50px;
	background-color: #80b435;
}

.thucphammoip {
	margin: auto;
	margin-top: 60px; 
	font-size: 25px;
	color: #ffffff;
}

#thucphammoi i {
	margin: auto;
	color: #ffffff;
}

#imagesanphammoi {
	margin-top: 40px;
}

#thucphammoi img {
	width: 255px;
}

.thongtin {
	background-color: #ffffff;
	width: 100%;
    height: 100px;
    margin-top: -15px;
}

.tensanpham {
	font-size: 20px;
	color: #333333;
	margin-top: -3px; 
	margin-left: 40px;
}

.gia {
	font-size: 15px;
	margin-left: 70px;
	margin-top: -15px;
}

.giohang {
	color: #a70b0b;
	margin-top: -14px;
	margin-left: 45px;
}

#camnang {
	margin-top: 50px;
	height: 580px;
}

#pcamnang {
	margin: auto;
	font-size: 24px;
}

#imgcamnang {
	margin-top: 25px;
}

#imgcamnang p {
	color: black;
	font-size: 25px;
	margin-top: 10px;
}

#footer {
	background-color: #80b435;
}

.name {
    width: 35px;
    height: 35px;
    
    color: #ffffff;
    margin-left: 600px;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4px;
    font-weight: 600;
}

#chitiet {
	margin-top: 60px;
	font-size: 20px;
}

#chitietimg img{
	margin-top: 55px;
	width: 315px;
	border-radius: 10px;
}

#thongtin {
	margin-top: 55px;
}

#btngiohang {
	margin-top: 80px;
}

.title {
	margin-top: 65px;
	margin-bottom: 45px;
	text-align: center;
}

.icondetail {
	margin-top: 25px;
	margin-left: 1100px;
	font-size: 25px;
}

.tongtien {
	font-size: 20px;
}

#alertsuccess {
	display: none;
	font-size: 15px;
	margin-left: -115px;
	position: absolute;
	margin-top: -25px;
}

.menu2 ul {
	list-style-type: none;
}

.menu2 a {
	text-decoration: none;
}
