* {
    margin: 0px;
    padding: 0px;
}

#background {
    background-color: black;
}

#brand {
    padding: 0px 200px 0px 100px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

nav a {
    color: white;
}

nav a:hover {
    color: orange;
}

ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

ul li a:hover {
    color: yellow;
}

ul li {
    padding: 0px 10px;
}

ul li:hover {
    background-color:green;
}

#title {
    background-color: black;
    padding: 30px;
    opacity: 0.5;
}

#title i {
    color: white;
    padding: 10px 20px;
}

#search {
    display: inline-block;
    margin-left: 675px;
}

#producthot {
    margin-top: 50px;
    margin-bottom: 500px;
    padding: 0px 0px 0px 10px;
}

img {
    width: 100%;
}

.product {
    position: relative;
    text-align: center;
    box-shadow: 0px 4px 18px 0px grey;
    margin-bottom: 25px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: green;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.product:hover .overlay {
    height: 100%;
    bottom: 0;
}

#producthot h2 {
    padding: 10px 0px 85px 0px;
}

.product .content {
    padding: 10px;
}

.product a {
    text-decoration: none;
    color: black;
}

.product i {
    white-space: nowrap; 
    color: white;
    font-size: 25px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#alertsuccess {
	display: none;
	position: absolute;
	top: 88px;
	right: 110px;
	width: 10%;
	border-radius: 25px;
}

#row {
	padding-top: 75px;
	margin-bottom: 100px;
}

#row #col1 h4{
	padding-bottom: 30px;
}

.icondetail a {
	position: absolute;
	top: 120px;
	right: 100px;
}

#rowdetail {
	padding: 75px;
}

#carousel {
	width: 25%;
	margin: auto;
}

#detailproduct {
	background-color: darkgray;
	margin: 50px 10px 0px 50px;
	height: 230px;
	padding-top: 35px;
}

#detailproduct h4 {
	padding: 0px 0px 15px 0px;
	margin-top: -30px;
}

#carousel-indicators {
	position: absolute;
	bottom: -35px;
}

#form {
	width: 300px;
	height : 300px;
	opacity: 0.5;
	margin: auto;
}

.login-form {
	width: 340px;
	margin: 50px auto;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
}

#btn-cart {
	width: 35%;
}

#btn-search {
	width: 24%;
}

#icon-detail {
	color: #4eff00;
	position: absolute;
	top: 18px;
	right: 120px;
}