* {
	margin: 0px;
	padding: 0px;
}

.addproduct {
	display: none;
}

#addproduct {
	margin-top: 70px;
}

#title-add, #title-update {
	background-color: #299be4;
	color: #fff;
	padding: 5px;
	margin-top: 30px;
	margin-bottom: 11px;
	border-radius: 2px;
	position: relative;
}

#addproduct h3 {
	text-align: center;
	padding: 5px 0px 0px 0px;
}

#addproduct i {
	color: white;
	float: right;
    padding: 15px 0px 10px 0px;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: -11px;
}

.logout i{
	margin-top: 10px;
	position: absolute;
	top: 10px;
	right: 55px;
	font-size: 25px;
}

#title-update h3 {
	text-align: center;
}

#form {
	width: 300px;
	height : 300px;
	opacity: 0.5;
	margin: auto;
}

.login-form {
	width: 340px;
	margin: 50px auto;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
}

.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	margin: 100px 0;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
	padding-bottom: 15px;
	background: #299be4;
	color: #fff;
	padding: 5px 30px;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}

.table-title h2 {
	margin: 5px 10px 0;
	font-size: 24px;
	font-weight: bold;
}

.table-title span {
	font-size: 15px;
	font-weight: bold;
}

.table-title .btn {
	color: #566787;
	float: right;
	font-size: 13px;
	background: #fff;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.table-title .btn:hover, .table-title .btn:focus {
	color: #566787;
	background: #f2f2f2;
}

.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}

.table-title .btn span {
	float: left;
	margin-top: 2px;
}

table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}

table.table tr th:first-child {
	width: 60px;
}

table.table tr th:last-child {
	width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}

table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}

table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}

table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
}

table.table td a:hover {
	color: #2196F3;
}

table.table td a.settings {
	color: #2196F3;
}

table.table td a.delete {
	color: #F44336;
}

table.table td i {
	font-size: 19px;
}

.icon-add {
	padding: 10px;
	font-size: 17px;
}

.icon-add i {
	padding: 0px 5px;
}

#mess-alert {
	width: 45%;
	margin: auto;
}

.paging .form-group {
	margin: -55px auto;
	float: right;
	width: 15%;
}

.paging .command {
	position: absolute;
	right: 120px;
	margin-top: -45px;
}